.page {
    &__title {
        height: 35px;
        display: flex;
        align-items: center;
        border-bottom: solid 2px black;
        font-family: "Courier New", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
        font-size: 25px;
    }

    &__content {
        margin-top: 20px;
    }
}
