.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;

    a {
        transition: color 0.4s ease 0s;
        text-decoration: none;
        &:hover {
            color: #BFBFBF;
        }
    }
}
